include README.md
include LICENSE
include src/*.h
include src/*.cpp
include python/*.cpp
recursive-include . *.hpp *.h *.cpp
global-exclude *.pyc
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
